:root {
  --clr-dark: #727272;
  --clr-light: #f3f3f3;
  --clr-sec-dark: #000000;
  --clr-sec-light: #ffff;
  --clr-light-blue: #009fe3;
  --clr-light-yellow: #fcd966;
  --clr-dark1: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sora", sans-serif;
  color: var(--clr-dark);
  line-height: 1.9;
  background-color: var(--clr-light);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 5px;
  /* background-image: linear-gradient(
    90deg,
    #f0503c,
    #284086,
    #2bc6bf,
    #ffb133,
    #f0503c,
    #284086
  ); */
  /* background-color: var(--clr-dark); */
}
.header-img {
  border: 4px solid var(--clr-light);
  border-radius: 50%;
}

.header-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.header-info {
  display: inline-flex;
  align-items: center;
  padding-left: 100px;
}
h1 {
  padding-left: 10px;
  color: var(--clr-sec-dark);
  font-size: 40px;
}

/* The dots/bullets/indicators */
.dots span:before {
  content: "";
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  /* background-color: #cbdd29; */
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots span:nth-child(4n + 1):before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.5 4l6-4v8l-6-4z' fill='%23F0503C'/%3E%3C/svg%3E");
  background-size: 7px 8px;
}
.dots span:nth-child(4n + 2):before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0L4.247 6H0l3.753-6H8z' fill='%23284086'/%3E%3C/svg%3E");
  background-size: 8px 6px;
}
.dots span:nth-child(4n + 3):before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0v6H0V0h6z' fill='%232BC6BF'/%3E%3C/svg%3E");
  background-size: 6px 6px;
}
.dots span:nth-child(4n + 4):before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 6.5l-4-6h8l-4 6z' fill='%23FFB133'/%3E%3C/svg%3E");
  background-size: 8px 7px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  /* background-color: #cbdd29; */
  border-radius: 50%;
  /* display: inline-block; */
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #e9dfdf;
  border: 2px solid rgb(204, 204, 228);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 85%;
  width: auto;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
  right: 12%;
  top: 50%;
  color: var(--clr-sec-dark);
}
.prev {
  border-radius: 3px 0 0 3px;
  left: 12%;
  top: 50%;
  color: var(--clr-sec-dark);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--clr-sec-light);
}

.description {
  text-align: justify;
  text-indent: 1rem;
  font-size: 16px;
  color: var(--clr-sec-light);
  padding: 10px;
}

.container-portofolio {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.container-portofolio h2 {
  color: var(--clr-light-blue);
  padding: 20px 0px 15px 20px;
}
.container-portofolio span {
  font-size: 18px;
  font-weight: 900;
}
.section {
  background: var(--clr-sec-light);
}

.projects {
  padding: 0px 20px 20px 0px;
  background: var(--clr-light);
}

.main__project {
  position: relative;
  max-width: 1200px;
  height: 100px;
}

.secondary__projects {
  background-image: url("./images/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: block;
  justify-items: center;
  align-items: center;
  margin: 5px 0px 0px 5px;
}
.secondary__projects .dots {
  position: absolute;
  bottom: 45%;
  right: 50%;
}

.project--1,
.project--2,
.project--3,
.project--4,
.project--5,
.project--6,
.project--7,
.project--8,
.project--9,
.project--10,
.project--11,
.project--12,
.project--13,
.project--14,
.project--15,
.project--16,
.project--17,
.project--18,
.project--19,
.project--20 {
  position: relative;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px 0px 0px 5px;
}

.overlay_portofolio_projects {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--clr-light);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlay_portofolio_projects a {
  text-decoration: none;
}

.overlay_port_title {
  text-align: center;
  color: var(--clr-sec-light);
  margin: 10px;
  font-size: 25px;
}

.overlay_port_btn {
  display: block;
  margin: auto;
  text-align: center;
  background-color: var(--clr-light-blue);
  font-size: 20px;
  border-radius: 15px;
  color: var(--clr-sec-light);
  font-weight: 500;
  padding: 10px 20px;
  border: none;
}

.overlay_port_btn:hover {
  background-color: var(--clr-light-yellow);
  color: var(--clr-sec-dark);
  transition: all 0.3s;
}

.main__project:hover .overlay_portofolio_projects {
  height: 95%;
}
.project--1:hover .overlay_portofolio_projects,
.project--2:hover .overlay_portofolio_projects,
.project--3:hover .overlay_portofolio_projects,
.project--4:hover .overlay_portofolio_projects,
.project--5:hover .overlay_portofolio_projects,
.project--6:hover .overlay_portofolio_projects,
.project--7:hover .overlay_portofolio_projects,
.project--8:hover .overlay_portofolio_projects,
.project--9:hover .overlay_portofolio_projects,
.project--10:hover .overlay_portofolio_projects,
.project--11:hover .overlay_portofolio_projects,
.project--12:hover .overlay_portofolio_projects,
.project--13:hover .overlay_portofolio_projects,
.project--14:hover .overlay_portofolio_projects,
.project--15:hover .overlay_portofolio_projects,
.project--16:hover .overlay_portofolio_projects,
.project--17:hover .overlay_portofolio_projects,
.project--18:hover .overlay_portofolio_projects,
.project--19:hover .overlay_portofolio_projects,
.project--20:hover .overlay_portofolio_projects {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  position: sticky;
  bottom: 0;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}
footer {
  background-color: var(--clr-sec-light);
  display: flex;
}
.footer__container {
  background-color: var(--clr-sec-light);
  overflow: hidden;
  margin: auto;
  max-width: 1200px;
  padding: 10px;
}
footer span {
  margin: 0 auto;
}
.footer__container .footer__text {
  position: relative;
  font-size: 25px;
  font-weight: 600;
}
.sec__text {
  color: var(--clr-light-blue);
}

.sec__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--clr-light-blue);
  background-color: var(--clr-sec-light);
  border-left: 2px solid var(--clr-light-blue);
  animation: animate 3s steps(11) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@media (max-width: 700px) {
  body {
    line-height: 1;
  }
  .header-info {
    padding-left: 5px;
  }
  .secondary__projects {
    height: 300px;
  }

  .container-portofolio {
    max-width: fit-content;
  }
  .container-portofolio h2 {
    color: var(--clr-sec-light);
  }

  .main__project .overlay_portofolio_projects {
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
  }

  .project--1:hover .overlay_portofolio_projects,
  .project--2:hover .overlay_portofolio_projects,
  .project--3:hover .overlay_portofolio_projects,
  .project--4:hover .overlay_portofolio_projects,
  .project--5:hover .overlay_portofolio_projects,
  .project--6:hover .overlay_portofolio_projects,
  .project--7:hover .overlay_portofolio_projects,
  .project--8:hover .overlay_portofolio_projects,
  .project--9:hover .overlay_portofolio_projects,
  .project--10:hover .overlay_portofolio_projects,
  .project--11:hover .overlay_portofolio_projects,
  .project--12:hover .overlay_portofolio_projects,
  .project--13:hover .overlay_portofolio_projects,
  .project--14:hover .overlay_portofolio_projects,
  .project--15:hover .overlay_portofolio_projects,
  .project--16:hover .overlay_portofolio_projects,
  .project--17:hover .overlay_portofolio_projects,
  .project--18:hover .overlay_portofolio_projects,
  .project--19:hover .overlay_portofolio_projects,
  .project--20:hover .overlay_portofolio_projects {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .next,
  .prev {
    top: 30%;
  }

  .header {
    top: 8%;
  }
  .header-img img {
    width: 80px;
    height: 80px;
  }

  .header-info h1 {
    font-size: 20px;
  }

  .overlay_port_title {
    font-size: 16px;
  }

  .description,
  .details {
    font-size: 14px;
  }

  .overlay_port_btn {
    font-size: 14px;
    padding: 8px;
  }

  .prev,
  .next {
    font-size: 16px;
    padding: 12px;
  }

  .dot {
    height: 12px;
    width: 12px;
  }

  .secondary__projects .dots {
    position: absolute;
    top: 31%;
    right: 30%;
  }
  .footer__container .footer__text {
    font-size: 8px;
  }
  footer {
    position: fixed;
    top: 0%;
    right: 0%;
  }
}
